*{
    margin: 0;
}

body .app{
    background-color:black;
 
    /* background-image: url('./Images/ace-logo.png'); */
    /* background-repeat: no-repeat; */
    /* background-size:cover; */
    
}

.content-container{
    display: grid;
    background-color: black;
    color: #D5D5D5;
    justify-content: center;   
   
}

.content-heading{  
    width: 100%;
    height: 10vw;
    margin: 0;
    background-color: white;
    color: black;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
   
}